<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $('#answer1').on('input', function() {
      localStorage.setItem("answer1", $("#answer1").val())
  });
  $('#answer2').on('input', function() {
      localStorage.setItem("answer2", $("#answer2").val())
  });
  $('#answer3').on('input', function() {
      localStorage.setItem("answer3", $("#answer3").val())
  });
</script>

<form name="customerForm" role="form">

  <script cam-script type="text/form-script">

    camForm.on('form-loaded', function() {
      // fetch the variable named 'customerData'
      camForm.variableManager.fetchVariable('customerData');
    });

    camForm.on('variables-fetched', function() {
      // after the variables are fetched, bind the value of customerData to a angular
      // scope value such that the form can work on it
      $scope.customerData = camForm.variableManager.variable('customerData').value;
    });

    var variableManager = camForm.variableManager;

    camForm.on('submit', function() {
      // this callback is executed when the form is submitted, *before* the submit request to
      // the server is executed



    });
  
  </script>

  <h3>BPMN Basic Check</h3>
  <div class="control-group">
    <label class="control-label" for="answer1">Was ist ein Nomen?</label>
    <div class="controls">
      <input id="answer1"
             class="form-control"
             type="text"
             required 
             ng-model="customerData.answer1">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="answer2">Was ist ein Verb?</label>
    <div class="controls">
      <input id="answer2"
             class="form-control"
             type="text"
             required
             ng-model="customerData.answer2">
    </div>
  </div>
  
    <div class="control-group">
    <label class="control-label" for="answer3">Was ist ein Adjektiv?</label>
    <div class="controls">
      <input id="answer3"
             class="form-control"
             type="text"
             required
             ng-model="customerData.answer3">
    </div>
  </div>
</form>
